.no_scr {
    position: static;
    width: 100%;
    display: block;
    background: #FFFF00;
    padding: 9px;
    border: 1px solid #cfd1d0;
    color: red;
	margin:0 !important;
    font-weight: 600;
    text-align: center;
}
.nav-wrapper {
    height: auto;
}
.nav-wrapper ul ul {
    position: static !important;
}
.nav-wrapper ul li {
    margin: 2px;
    float: none;
}
.nav-wrapper ul li a{
    background: rgba(0,0,0,0.1);
}
.nav-wrapper ul ul li {
    margin: 0px;
    background: none;
    list-style-type: disc;
    display: list-item;
    margin-left: 29px;
    color: #fff;
}
.nav-wrapper ul ul li a{
    background: none;
}
.nav-wrapper ul ul li a, .nav-wrapper ul ul li:first-child a{
    padding-left: 0 !important;
}
.nav-wrapper ul ul {
    width: auto;
}
.common-wrapper {
    z-index: 1010;
}
.nav-wrapper ul ul ul {
    left: 100%;
    position: static !important;
    top: 0;
    width: 100%;
    -webkit-box-shadow: 0px 0px;
            box-shadow: 0px 0px;
}
.ico-site-search .both-search .find{display:none!important;}
.ico-site-search .both-search .google-find{display:block!important;}
.main-goi-form{
	display:none; 
}
.google-find{
	position:relative;
	max-width: 270px;
}
.google-find div {
    font-size: 100%;
}

form {
   background: none repeat scroll 0 0 #FFFFFF;
   border: none;
   box-sizing: border-box;
   float: left;
   padding: 0;
   width: inherit;
}
.ico-site-search .search-drop {
   display: block;
   position: absolute;
  
   top: 36px;
   visibility: visible;
   z-index: 1;
  
}
label {
color: #000000;
float: inherit;
font-size: 1em;
width: 35%;
}/* CSS Document */

